<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Sensor App</title>
      <link rel="icon" href="{{ url_for('static', filename='media/icon.png') }}" type="image/png"/>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <divid = "about">
      <h1> About Us </h1>
      <p> Defence Bioengineering and Electromedical Laboratory </p>
      <p> DEBEL DRDO </p>
      </div>
      {% endblock %}
   </body>
</html>
